.main-input-container {
    height: 100%;
    width: 100%;
    gap: 1vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-input {
    font-size: var(--font-size-small);
    font-weight: initial;
    border: solid 1px var(--primary-8);
    padding-left: 3%;
    padding-right: 3%;
    width: 100%;
    height: 100%;
}

.main-input:disabled {
    border: solid 1px var(--achromatic-5);
    color: var(--achromatic-5);
}