.sub-menu-button {
    color: var(--primary-8);
    width: auto;
    height: 100%;
    gap: 1vw;
    padding-right: 1vw;
    padding-left: 1vw;
    aspect-ratio: 1;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.05s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: visible;
    white-space: nowrap;
}

.sub-menu-link {
    display: flex;
    align-items: center;
    height: 80%;
}

.sub-menu-button:hover {
    color: var(--achromatic-0);
    background-color: var(--primary-8);
    transform: scale(1.1);
}

.sub-menu-button:active {
    background-color: var(--primary-8);
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
}

.sub-menu-button > * {
    position: relative;
    z-index: 1;
}

.sub-menu-button-icon {
    font-size: var(--font-size-medium)
}