.signup-form-group-input {
    display: flex;
    flex-direction: column;
    height: 10vh;
    width: 100%;
    color: var(--primary-9);
    gap: 20%;
}

.signup-form-group-input.error {
    color: var(--tertiary-5)
}

.input-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

.signup-form-input {
    padding-left: 2%;
    padding-right: 50px; /* Avoid overlap with the button */
    font-size: var(--font-size-small);
    height: 100%;
    width: 100%;
    border: solid 1px var(--primary-9);
}

.signup-form-input.error:focus {
    outline: none;
}

.signup-form-input.error {
    border: 1px solid var(--tertiary-5);
    background-color: var(--tertiary-0);
}

.toggle-password-btn {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    color: var(--primary-9);
    font-size: var(--font-size-small);
    padding: 0;
}
