.profile-button {
    font-size: var(--font-size-small);
    height: 80%;
    position: relative;
    padding-left: 1vw;
    padding-right: 1vw;
    color: var(--primary-8);
    align-items: center;
    justify-content: center;
    display: inline-flex;
    white-space: nowrap;
}

.profile-button:hover {
    color: var(--achromatic-0);
    background-color: var(--primary-8);
}

.profile-button-container {
    position: relative;
    margin-right: 2vh;
    align-content: center;
    display: inline-block;
    height: 100%;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: var(--achromatic-0);
    color: var(--primary-8);
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 10;
}

.dropdown-option {
    padding: 10px;
    font-size: var(--font-size-small);
    cursor: pointer;
}

.dropdown-option:hover {
    background-color: var(--achromatic-0);
}
