.display-container {
    position: relative;
    font-family: Arial, sans-serif;
    color: var(--primary-8);
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.display-content {
    height: 100%;
    padding: 4%;
    background-color: var(--achromatic-0);
    font-family: Arial, sans-serif;
    color: var(--primary-8);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

.display-label {
    font-weight: bold;
    text-decoration: underline;
    font-size: var(--font-size-small);
    margin-bottom: 1vh;
    color: var(--achromatic-0);
}

.display-value {
    font-size: var(--font-size-medium);
    color: var(--primary-8);
    font-weight: bold;
    text-align: center;
}

.display-button {
    padding: 2%;
    color: var(--tertiary-5);
    border: 1px solid var(--tertiary-5);
    justify-self: end;
    text-align: right;
    transition: all 0.3s ease;
}

.display-button:hover {
    color: var(--achromatic-0);
    background-color: var(--tertiary-5);
    transform: scale(1.05);
}

.display-button:active {
    transform: scale(0.98);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.display-button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(var(--tertiary-5), 0.5);
}


