.teams-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: var(--achromatic-0);
}

.teams-table {
    border-radius: 15px;
    overflow: hidden;
    margin: 2%;
    width: 80%;
    border-collapse: collapse;
}

.teams-table thead {
    background-color: var(--primary-8);
    color: var(--achromatic-0);
}

.teams-table th,
.teams-table td {
    text-align: center;
    border-radius: 0;
    padding: 2% 0;
    border: 1px solid var(--achromatic-0);
}

.teams-table td {
    cursor: pointer;
    font-weight: bold;
    color: var(--primary-8);
}

.teams-table tbody tr:hover {
    background-color: var(--achromatic-1);
}