.profile-button {
    font-size: var(--font-size-small);
    height: 80%;
    position: relative;
    padding-left: 1vw;
    padding-right: 1vw;
    color: var(--primary-8);
    align-items: center;
    justify-content: center;
    display: inline-flex;
    white-space: nowrap;
    transition: all 0.3s ease; /* Ajout de la transition pour les changements d'état */
    border-radius: 5px; /* Arrondi des bords par défaut */
}

/* Style appliqué lors du survol classique du bouton */
.profile-button:hover {
    color: var(--achromatic-0);
    background-color: var(--primary-8);
}

/* Style appliqué lorsque la dropdown est ouverte */
.profile-button.hover-open {
    background-color: var(--primary-7); /* Une couleur différente quand la dropdown est ouverte */
    color: var(--achromatic-0);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Effet visuel supplémentaire pour signaler l'ouverture */
    border-bottom-left-radius: 0; /* Supprime l'arrondi en bas à gauche */
    border-bottom-right-radius: 0; /* Supprime l'arrondi en bas à droite */
}

.profile-button-container {
    position: relative;
    margin-right: 2vh;
    align-content: center;
    display: inline-block;
    height: 100%;
}

.dropdown-menu {
    position: absolute;
    left: 0;
    width: 100%;
    background: var(--achromatic-0);
    color: var(--primary-8);
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 10;
    border-top-left-radius: 0; /* Supprime l'arrondi en haut à gauche */
    border-top-right-radius: 0; /* Supprime l'arrondi en haut à droite */
}

.dropdown-option {
    display: flex;
    gap: 1vw;
    padding: 10px;
    font-size: var(--font-size-small);
    cursor: pointer;
}

/* Style de survol pour les options du menu déroulant */
.dropdown-option:hover {
    border-radius: 0;
    background-color: var(--primary-7);
    color: var(--achromatic-0);
}
