.challenge-card {
    min-width: 15vw;
    display: flex;
    margin: 2vw;
    padding: 1vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.challenge-card-title {
    font-size: var(--font-size-small);
    padding: 3vw;
    text-transform: uppercase;
}

.challenge-card-credits {
    padding: 1vw;
    text-transform: uppercase;
}

.challenge-card.bg-neutral {
    color: var(--font-neutral);
    background: var(--neutral);
}
.challenge-card.bg-available {
    color: var(--font-available);
    background: var(--available);
}
.challenge-card.bg-correct {
    color: var(--font-correct);
    background: var(--correct);
}
.challenge-card.bg-incorrect {
    color: var(--font-incorrect);
    background: var(--incorrect);
}