.sub-menu-divider {
    margin-left: 1vw;
    margin-right: 1vw;
}

.sub-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 8vh;
    background: var(--achromatic-0);
    box-shadow: 3px 3px 15px var(--achromatic-3);
}

.sub-menu.not-logged-in {
    padding-left: 1vw;
    padding-right: 1vw;
}